## Start your mySQL Server from a terminal 
(if it isn't already running)

<code>sudo docker start course-mysql</code>
<pre>

</pre>
Don't forget that, if you use sqlMagic, you need to execute the connection lines in your Notebook!

<pre>
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql
</pre>

## Create a new Python3 Jupyter Notebook in your Exam Answers folder

Commit and push this Notebook to GitHub when you are finished.

You must submit your answers to GitHub by 1800h Sept 14.

In [1]:
# Bash:

# docker start course-mysql
# mysql --local_infile=true -h localhost -P 3306 --protocol=TCP -u root -p

In [2]:

from sqlalchemy import URL, create_engine, MetaData
from getpass import getpass

url_object = URL.create(
    "mysql+pymysql",
    username="root",
    password= getpass(),  # plain (unescaped) text
    host="localhost", # Averiguar en la línea de comandos con "status;". Ni idea de porqué no hace ni puto caso al comando de antes.
    database="mysql"
)

engine = create_engine(url_object)

metadata = MetaData() # Crea una variable para almacenar los metadatos de las tablas.

# Inicia el interprete de pymysql.
%load_ext sql 

# Realiza la conexión.
%sql engine 

# Permite cargar archivos locales.
%sql SET GLOBAL local_infile=true;

Running query in 'mysql+pymysql://root:***@localhost/mysql'

++
||
++
++



## Data Files
Germplasm.tsv and LocusGene.tsv contain the datasets we need for the exam.

Our objective is to create a database to contain the data in these files, insert the data into the database, then query the database in a variety of ways.


## Problem 1:  Controls

Write a Python script that proves that the lines of data in Germplasm.tsv, and LocusGene are in the same sequence, based on the AGI Locus Code (ATxGxxxxxx).  (hint: This will help you decide how to load the data into the database)

In [3]:
def get_first_column(
    file_path: str, 
    header: bool = False, 
    delimiter: str = '\t', 
    quotechar: str = '"'
    ) -> list: 
    """Return the first column of a data file in a single list. 
    Each value is imported as a string.

    :param: file_name: str - Path to the file containing the data.
    :param: header: bool - Default false. True if the file contains a 
    header and should be ignored. 
    :param: delimiter: str - Default tab (.tsv file). Delimiter for 
    the fields it the data file.
    :param: quotechar: str - Default '"'. Quoting for the imported data.
    :return: list - List containing all the values from the first 
    column of the file.
    """    

    import csv

    first_column = []
    rest = []

    with open(file_path) as file:

        if header: next(file) # Es un iterable así que nos saltamos la cabecera.
        
        file_reader = csv.reader(file, delimiter = delimiter, quotechar = quotechar)
        
        for first_column_values, *rest in file_reader: 
            # Itera por filas y automáticamente guarda el valor de cada 
            # campo en cada una de las variables.
            first_column.append(first_column_values)
            rest.clear() # Rest no lo itero así que solo guardará el último valor.

    return first_column


locus_Germplasm = get_first_column("Germplasm.tsv", True)
locus_LocusGene = get_first_column("LocusGene.tsv", True)

print(locus_Germplasm == locus_LocusGene)

True

## Problem 2:  Design and create the database.  
* It should have two tables - one for each of the two data files.
* The two tables should be linked in a 1:1 relationship
* you may use either sqlMagic or pymysql to build the database

In [4]:
%sql drop database germplasm;
%sql create database germplasm;
%sql show databases;
%sql use germplasm;
%sql show tables;

Running query in 'mysql+pymysql://root:***@localhost/mysql'

2 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

1 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

5 rows affected.

Running query in 'mysql+pymysql://root:***@localhost/mysql'

Running query in 'mysql+pymysql://root:***@localhost/mysql'

+---------------------+
| Tables_in_germplasm |
+---------------------+
+---------------------+

In [5]:
import pymysql.cursors

connection = pymysql.connect(host='localhost',
                             user='root',
                             password=getpass(),
                             db='germplasm', 
                             charset='utf8mb4',
                             local_infile=True,
                             cursorclass=pymysql.cursors.DictCursor)
connection.autocommit = False


try:
    with connection.cursor() as cursor:
        
        sql = """create table germplasm(
            locus VARCHAR(20) NOT NULL PRIMARY KEY,
            germplasm VARCHAR(100) NOT NULL,
            phenotype VARCHAR(1000) NOT NULL,
            pubmed INTEGER NOT NULL);"""
        cursor.execute(sql)
        
        sql = """create table locus_gene(
            locus VARCHAR(20) NOT NULL PRIMARY KEY,
            gene VARCHAR(20) NOT NULL,
            protein_lenght INTEGER NOT NULL)"""
        cursor.execute(sql)

    connection.commit()
        
finally:
    print("\nDone")
    connection.close()

Done

In [6]:
%sql show tables;

Running query in 'mysql+pymysql://root:***@localhost/mysql'

2 rows affected.

+---------------------+
| Tables_in_germplasm |
+---------------------+
|      germplasm      |
|      locus_gene     |
+---------------------+

In [7]:
%sql SELECT * FROM germplasm;

Running query in 'mysql+pymysql://root:***@localhost/mysql'

+-------+-----------+-----------+--------+
| locus | germplasm | phenotype | pubmed |
+-------+-----------+-----------+--------+
+-------+-----------+-----------+--------+

In [8]:
%sql SELECT * FROM locus_gene;

Running query in 'mysql+pymysql://root:***@localhost/mysql'

+-------+------+----------------+
| locus | gene | protein_lenght |
+-------+------+----------------+
+-------+------+----------------+

## Problem 3: Fill the database
Using pymysql, create a Python script that reads the data from these files, and fills the database.  There are a variety of strategies to accomplish this.  I will give all strategies equal credit - do whichever one you are most confident with.

In [9]:
import pymysql.cursors

connection = pymysql.connect(host='localhost',
                             user='root',
                             password=getpass(),
                             db='germplasm', 
                             charset='utf8mb4',
                             local_infile=True,
                             cursorclass=pymysql.cursors.DictCursor)
connection.autocommit = False

try:
    with connection.cursor() as cursor:

        germplasm_path = "/home/usuario/Documents/Introduction_course/Accelerated_Intro_WilkinsonExams/Germplasm.tsv"
        locus_gene_path = "/home/usuario/Documents/Introduction_course/Accelerated_Intro_WilkinsonExams/LocusGene.tsv"

        sql = """LOAD DATA LOCAL INFILE '{path}'
        INTO TABLE germplasm
        FIELDS TERMINATED BY '\t'
        LINES TERMINATED BY '\n'
        IGNORE 1 LINES;""".format(path = germplasm_path)
        cursor.execute(sql)
        
        sql = """LOAD DATA LOCAL INFILE '{path}'
        INTO TABLE locus_gene
        FIELDS TERMINATED BY '\t'
        LINES TERMINATED BY '\n'
        IGNORE 1 LINES;""".format(path = locus_gene_path)
        cursor.execute(sql)

        connection.commit()

finally:
    print("\nDone")
    connection.close()

Done

In [10]:
# #  PARA EL PC PERSONAL

# import pymysql.cursors

# connection = pymysql.connect(host='localhost',
#                              user='root',
#                              password=getpass(),
#                              db='germplasm', 
#                              charset='utf8mb4',
#                              local_infile=True,
#                              cursorclass=pymysql.cursors.DictCursor)
# connection.autocommit = False

# try:
#     with connection.cursor() as cursor:

#         germplasm_path = "/home/jm/Course/Accelerated_Intro_WilkinsonExams/Germplasm.tsv"
#         locus_gene_path = "/home/jm/Course/Accelerated_Intro_WilkinsonExams/LocusGene.tsv"

#         sql = """LOAD DATA LOCAL INFILE '{path}'
#         INTO TABLE germplasm
#         FIELDS TERMINATED BY '\t'
#         LINES TERMINATED BY '\n'
#         IGNORE 1 LINES;""".format(path = germplasm_path)
#         cursor.execute(sql)
        
#         sql = """LOAD DATA LOCAL INFILE '{path}'
#         INTO TABLE locus_gene
#         FIELDS TERMINATED BY '\t'
#         LINES TERMINATED BY '\n'
#         IGNORE 1 LINES;""".format(path = locus_gene_path)
#         cursor.execute(sql)

#         connection.commit()

# finally:
#     print("\nDone")
#     connection.close()

In [11]:
%sql SELECT * FROM germplasm;

Running query in 'mysql+pymysql://root:***@localhost/mysql'

32 rows affected.

+-----------+--------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
|   locus   |  germplasm   |                                                                                                                                                                      phenotype                                                                                                                                                                      |  pubmed  |
+-----------+--------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
| AT1G01040 |    CS3828    |                                                                                                                                                       Increased abundance of miRNA precursors.                                                                                                                                                      | 17369351 |
| AT1G01060 |   lhy-101    |                                                                        The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.                                                                        | 16891401 |
| AT1G01140 | SALK_058629  |                                                                                                                                                        hypersensitive to low potassium media                                                                                                                                                        | 17486125 |
| AT1G01220 | SALK_012400C | fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected. | 18199744 |
| AT2G03720 | SALK_042433  |                                                                                                                                                               Multiple straight hairs                                                                                                                                                               | 16367956 |
| AT2G03800 |    gek1-1    |                                                                                                                                                              Ethanol hypersensitivity.                                                                                                                                                              | 15215505 |
| AT2G04240 |    xerico    |                                                                                                                              Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.                                                                                                                             | 17933900 |
| AT2G05210 |    pot1-1    |                                                                                                                                                                No visible phenotype.                                                                                                                                                                | 17627276 |
| AT3G02130 |    rpk2-2    |                             The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.                             | 17419837 |
| AT3G02140 |    afp4-1    |                                                                                                                                        Decreased germination on high concentrations of glucose and sorbitol.                                                                                                                                        | 18484180 |
+-----------+--------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+----------+
Truncated to displaylimit of 10.

In [12]:
%sql SELECT * FROM locus_gene;

Running query in 'mysql+pymysql://root:***@localhost/mysql'

32 rows affected.

+-----------+--------+----------------+
|   locus   |  gene  | protein_lenght |
+-----------+--------+----------------+
| AT1G01040 |  DCL1  |      332       |
| AT1G01060 |  LHY   |      290       |
| AT1G01140 | CIPK9  |      223       |
| AT1G01220 |  FKGP  |      190       |
| AT2G03720 |  MRH6  |      189       |
| AT2G03800 |  GEK1  |      196       |
| AT2G04240 | XERICO |      256       |
| AT2G05210 | POT1A  |      221       |
| AT3G02130 |  RPK2  |      284       |
| AT3G02140 | TMAC2  |      300       |
+-----------+--------+----------------+
Truncated to displaylimit of 10.

## Problem 4: Create reports, written to a file

1. Create a report that shows the full, joined, content of the two database tables (including a header line)

2. Create a joined report that only includes the Genes SKOR and MAA3

3. Create a report that counts the number of entries for each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx)

When creating reports 2 and 3, remember the "Don't Repeat Yourself" rule! 

All reports should be written to **the same file**.  You may name the file anything you wish.

In [13]:
def obtain_query_results(query: str, 
                        host: str = 'localhost', 
                        user: str = 'root',
                        db: str = 'germplasm',
                        charset: str = 'utf8mb4',
                        local_infile: bool = True
                        )-> list:
    """Returns the output from a mysql query in a single list. 
    The resulting list contains a dict for each orw of the output table,
    Each dictionary row has a field_name:value key pair for each column of the table.
    This function uses a pymsql DictCursor in the backend that a allows the conection with
    the mysql server. Each parameter for the conection can be introduced.
    WARNING: You should have configure a sqlalchemy conection with the server previously.
    WARNING: For security reasons, it would ask for the server password each time.

    :param: query: str - The mysql query.
    :param: user: str - User of the mysql server for the connection configuration.
    :param: db: str - Database to use.
    :param: charset: str - Default utf8mb4. Character encoding configuration. 
    :local_infile: bool - Default True. Option to load local data files to the mysql database.
    :return: list - List of dicts  containing all the values from the the output table.
    """    
    
    import pymysql.cursors
    from getpass import getpass

    connection = pymysql.connect(host = host,
                                user = user,
                                password = getpass(),
                                db = db, 
                                charset = charset,
                                local_infile = local_infile,
                                cursorclass=pymysql.cursors.DictCursor)

    try:
        with connection.cursor() as cursor:
        
            cursor.execute(query)

            results = cursor.fetchall() # Fetch the results.
            return results
            
    finally:
        print("Query processed")
        connection.close()

In [14]:
def generate_table_report(table: list, 
                          path: str = "/home/usuario/Documents/Introduction_course/Accelerated_Intro_WilkinsonExams/report.tsv"
                          ):
    """Generates a report file from a table in the list of dict format generated by the obtain_query_results function.
    It uses the same format as the cursor.fetchal() method from a pymysql DictCursor. 
    The file contains the table in an tsv format, including a header with the column names.

    :param: table: list - A list of dicts containing the table.
    :param: path: str - The path an file name for the report.
    :return: file - .tsv file containing the formated content of the table."""

    file = open(path, 'a') # Uses append for non-destuctive writting.

    # Print column names:
    for column_name in table[0]: # Access the first dict in order to print the key names (which are the column names)
        file.write(f'{column_name}\t')

    file.write(f'\n') # New line for table content.

    # Print table content:
    for row in table: # Each element of the list is a row of the table.
        for field in row.values(): # We loop on the values, as we already printed the column names (the keys).
            file.write(f'{field}\t')

        file.write(f'\n') # New line for each row.

    file.write(f'\n') # New line for each table.

    print(f'Report generated at {path}')

In [21]:
# TASK 1.

query = """SELECT * FROM germplasm 
            JOIN locus_gene USING (locus) 
            WHERE germplasm.locus = locus_gene.locus"""
            
generate_table_report(obtain_query_results(query))

Query processed
Report generated at /home/usuario/Documents/Introduction_course/Accelerated_Intro_WilkinsonExams/report.tsv

In [22]:
# TASK 2.

query = """SELECT * FROM germplasm 
            JOIN locus_gene USING (locus) 
            WHERE germplasm.locus = locus_gene.locus 
            AND locus_gene.gene = 'SKOR' OR locus_gene.gene = 'MAA3';"""
            
generate_table_report(obtain_query_results(query))

Query processed
Report generated at /home/usuario/Documents/Introduction_course/Accelerated_Intro_WilkinsonExams/report.tsv

In [23]:
# TASK 3.

query = """SELECT 

                (SELECT COUNT(*) 
                    FROM germplasm
                    JOIN locus_gene USING (locus)
                    WHERE germplasm.locus = locus_gene.locus
                    AND locus REGEXP '[A][T][1][G][0-9]{5}')
                AS "Entries for Chromosome 1",

                (SELECT COUNT(*) 
                    FROM germplasm
                    JOIN locus_gene USING (locus)
                    WHERE germplasm.locus = locus_gene.locus
                    AND locus REGEXP '[A][T][2][G][0-9]{5}')
                AS "Entries for Chromosome 2",

                (SELECT COUNT(*) 
                    FROM germplasm
                    JOIN locus_gene USING (locus)
                    WHERE germplasm.locus = locus_gene.locus
                    AND locus REGEXP '[A][T][3][G][0-9]{5}')
                AS "Entries for Chromosome 3",

                (SELECT COUNT(*) 
                    FROM germplasm
                    JOIN locus_gene USING (locus)
                    WHERE germplasm.locus = locus_gene.locus
                    AND locus REGEXP '[A][T][4][G][0-9]{5}')
                AS "Entries for Chromosome 4",

                (SELECT COUNT(*) 
                    FROM germplasm
                    JOIN locus_gene USING (locus)
                    WHERE germplasm.locus = locus_gene.locus
                    AND locus REGEXP '[A][T][5][G][0-9]{5}')
                AS "Entries for Chromosome 5"
                
            ;"""
            
generate_table_report(obtain_query_results(query))

Query processed
Report generated at /home/usuario/Documents/Introduction_course/Accelerated_Intro_WilkinsonExams/report.tsv

In [27]:
# CHAT GPT ANSWER.

query = """SELECT 
    SUM(CASE WHEN locus REGEXP '[A][T][1][G][0-9]{5}' THEN 1 ELSE 0 END) AS "Entries for Chromosome 1",
    SUM(CASE WHEN locus REGEXP '[A][T][2][G][0-9]{5}' THEN 1 ELSE 0 END) AS "Entries for Chromosome 2",
    SUM(CASE WHEN locus REGEXP '[A][T][3][G][0-9]{5}' THEN 1 ELSE 0 END) AS "Entries for Chromosome 3",
    SUM(CASE WHEN locus REGEXP '[A][T][4][G][0-9]{5}' THEN 1 ELSE 0 END) AS "Entries for Chromosome 4",
    SUM(CASE WHEN locus REGEXP '[A][T][5][G][0-9]{5}' THEN 1 ELSE 0 END) AS "Entries for Chromosome 5"
FROM germplasm
JOIN locus_gene USING (locus);"""

generate_table_report(table = obtain_query_results(query),
                      path = "test.tsv")

Query processed
Report generated at test.tsv

In [24]:
# TASK 4. Create a report that shows the average protein length for the genes on each Chromosome (AT1Gxxxxxx to AT5Gxxxxxxx).

query = """SELECT 

                (SELECT AVG(protein_lenght) 
                    FROM germplasm
                    JOIN locus_gene USING (locus)
                    WHERE germplasm.locus = locus_gene.locus
                    AND locus REGEXP '[A][T][1][G][0-9]{5}')
                AS "Average protein length for Chromosome 1",

                (SELECT AVG(protein_lenght) 
                    FROM germplasm
                    JOIN locus_gene USING (locus)
                    WHERE germplasm.locus = locus_gene.locus
                    AND locus REGEXP '[A][T][2][G][0-9]{5}')
                AS "Average protein length for Chromosome 2",

                (SELECT AVG(protein_lenght) 
                    FROM germplasm
                    JOIN locus_gene USING (locus)
                    WHERE germplasm.locus = locus_gene.locus
                    AND locus REGEXP '[A][T][3][G][0-9]{5}')
                AS "Average protein length for Chromosome 3",

                (SELECT AVG(protein_lenght) 
                    FROM germplasm
                    JOIN locus_gene USING (locus)
                    WHERE germplasm.locus = locus_gene.locus
                    AND locus REGEXP '[A][T][4][G][0-9]{5}')
                AS "Average protein length for Chromosome 4",

                (SELECT AVG(protein_lenght) 
                    FROM germplasm
                    JOIN locus_gene USING (locus)
                    WHERE germplasm.locus = locus_gene.locus
                    AND locus REGEXP '[A][T][5][G][0-9]{5}')
                AS "Average protein length for Chromosome 5"
                
            ;"""
            
generate_table_report(obtain_query_results(query))

Query processed
Report generated at /home/usuario/Documents/Introduction_course/Accelerated_Intro_WilkinsonExams/report.tsv

In [28]:
# CHAT GPT ANSWER.

query = """SELECT 
    AVG(CASE WHEN locus REGEXP '[A][T][1][G][0-9]{5}' THEN protein_lenght ELSE NULL END) AS "Average protein length for Chromosome 1",
    AVG(CASE WHEN locus REGEXP '[A][T][2][G][0-9]{5}' THEN protein_lenght ELSE NULL END) AS "Average protein length for Chromosome 2",
    AVG(CASE WHEN locus REGEXP '[A][T][3][G][0-9]{5}' THEN protein_lenght ELSE NULL END) AS "Average protein length for Chromosome 3",
    AVG(CASE WHEN locus REGEXP '[A][T][4][G][0-9]{5}' THEN protein_lenght ELSE NULL END) AS "Average protein length for Chromosome 4",
    AVG(CASE WHEN locus REGEXP '[A][T][5][G][0-9]{5}' THEN protein_lenght ELSE NULL END) AS "Average protein length for Chromosome 5"
FROM germplasm
JOIN locus_gene USING (locus);"""

generate_table_report(table = obtain_query_results(query),
                      path = "test.tsv")

Query processed
Report generated at test.tsv